body {
    margin: 0 0 0 0;
}

article {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

#banner {
    width: 100%;
    background-image: url("/assets/img/background.jpg");
    background-size: cover;
    background-position: center;
}

#logo {
    background-color:white;
    -webkit-mask-image: url("assets/svg/hands_circle.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    min-height: 50vmin;
}

#logo-text {
    color: white;
    text-align: center;
}

     nav > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    nav > ul > li {
        float: left;
    }

    nav > ul > li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    nav > ul > li a:hover {
        background-color: #111;
    }   
