body {
    margin: 0 0 0 0;
}

article {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

footer {
  position:sticky;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

#banner {
    width: 100%;
    min-height: 50vmin;
    background-image: url("/assets/img/background.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-areas:
        "top-padding top-padding top-padding top-padding"
        "left-padding left right right-padding"
        "bot-padding bot-padding bot-padding bot-padding";
    grid-template-columns: auto 40vmin 40vmin auto;
    grid-template-rows: auto 40vmin auto;
}

#logo {
    grid-area: left;
    background-color: white;
    -webkit-mask-image: url("assets/svg/hands_circle.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    max-height: 40vmin;
}

#logo-text {
    grid-area: right;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: left;
    font-size: 5em;
}

.space {
    height: calc(14px + 1rem + 14px + 2px);
    width: 100%;
}

nav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 2000;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav > ul > li {
    float: left;
}

nav > ul > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav > ul > li a:hover {
    background-color: #111;
}   
