<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {{ page.title }} | Triton Prosthetics </title>
        <link rel="stylesheet" href="main.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="background-color:white;">
        <header>
            <nav>
                <!-- <a href="/">Home</a> | <a href="/about">About</a> | <a href="/faq">Frequently Asked Questions</a> | <a href="/sponsor">Sponsor Us</a> | <a href="/meet">Meet the Team</a> -->
                <ul>
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/faq">Frequently Asked Questions</a></li>
                    <li><a href="/sponsor">Sponsor Us</a></li>
                    <li><a href="/meet">Meet The Team</a></li>
                </ul>
            </nav>
            <div id="banner">
                <div id="logo"></div>
                <div id="logo-text">Triton Prosthetics</div>
            </div>
        </header>
        <article>
            {{content}}
        </article>
        <footer>
            TODO
        </footer>
    </body>
</html>
