<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {{ page.title }} | Triton Prosthetics </title>
        <link rel="stylesheet" href="main.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% seo %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/faq">Frequently Asked Questions</a></li>
                    <li><a href="/sponsor">Sponsor Us</a></li>
                    <li><a href="/meet">Meet The Team</a></li>
                </ul>
            </nav>
            <div class="space">
            </div> 
            <div id="banner">
                <div id="logo"></div>
                <div id="logo-text">Triton <br> Prosthetics</div>
            </div>
        </header>               
        <article>
            {{content}}
        </article>
        <footer>
            <p>Posted by: Neel Ayyagari</p>
            <p>Contact information: <a href="mailto:someone@example.com">
            neelvayyagari@gmail.com</a>.</p>
        </footer>
    </body>
</html>
